<h2>Some demo enemies</h2>
<ul class="enemies">
    
  <li *ngFor="let enemy of demoEnemies; let i = index;" 
      (click) = "onSelect(enemy)" 
      [class.selected]="enemy === selectedEnemy">
    <span class="monsterDataRow" >Name: {{demoEnemies[i].name}}</span>
    <span class="monsterDataRow">Speed: {{demoEnemies[i].speed}}</span>
    <span class="monsterDataRow">Strength: {{demoEnemies[i].strength}}</span>
    <span class="monsterDataRow">Wisdom: {{demoEnemies[i].wisdom}}</span>
  </li>
</ul>
<div *ngIf="selectedEnemy">
  <h2>{{ selectedEnemy.name | uppercase }} Details</h2>
  <div><span>strength: </span>{{selectedEnemy.strength}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedEnemy.name" placeholder="monster name">
    </label>
  </div>
</div>