Power details

<div *ngIf="power">
    <h2>{{ power.powerName | uppercase }}</h2>
    <div>
      <ul>
        <li class="powerKey">Cost: <span class="powerValue">{{power.powerCost}} </span></li>
        <li class="powerKey">Range: <span class="powerValue">{{power.powerRange}} </span></li>
        <li class="powerKey">Action: <span class="powerValue">{{power.powerAction}} </span></li>
        <li class="powerKey">Magnitude: <span class="powerValue">{{power.powerMagnitude}} </span></li>
        <li class="powerKey">Description: <span class="powerValue">{{power.powerLongDescription}} </span></li>    
      </ul>
    </div>
    <div>
      <label>Notes:
        <input [(ngModel)]="power.powerNotes" placeholder="..."/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
