<h2>My Powers</h2>
<ul class="powers" *ngFor="let power of powers">
    <a routerLink="/powers/{{power.powerId}}">
      <li class="badge">{{power.powerName}}</li>
    </a>
    <button class="delete" title="delete power" (click)="delete(power)">Delete</button>
      <ul>
          <li>Cost: {{power.powerCost}}</li>
          <li>Range: {{power.powerRange}}</li>
          <li>Action: {{power.powerAction}}</li>
          <li>Magnitude: {{power.powerMagnitude}}</li>
          <li>Description: {{power.powerShortDescription}}</li>
      </ul>
  </ul>

<div>
    <label>New power name:
      <input #powerName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(powerName.value); powerName.value=''">
      add
    </button>
  </div>