<h1>Character sheet</h1>
<div id="characterSheetDisplay" *ngIf="characterSheet">

    <table class="characterTable" id="bioTable">
        <thead>
          <tr>
            <th>Character</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="2">
            </td>
          </tr>
        </tfoot>
        <tbody>
            <tr>
              <td>Player name</td><td>{{characterSheet["general"]["playerName"] | uppercase}}</td>
            </tr>
  
            <tr>
              <td>Character name</td><td>{{characterSheet["general"]["characterName"]}}</td>
            </tr>
        </tbody>
    </table>

    <table class="characterTable" id="vitalsTable">
        <thead>
          <tr>
            <th>Vitals</th>
            <th>Value</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="2">
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Life</td>
            <td>
              <input [(ngModel)] = "characterSheet['general']['currentLife']"/>
            </td>
          </tr>

          <tr>
            <td>Max life</td><td>{{characterSheet["general"]["maxLife"]}}</td>
          </tr>

          <tr>
            <td>Endurance</td><td><input [(ngModel)] = "characterSheet['general']['currentEndurance']"/></td>
          </tr>

          <tr>
            <td>Max Endurance</td><td>{{characterSheet["general"]["maxEndurance"]}}</td>
          </tr>
        </tbody>
    </table>
</div>

<div class="characterSheetActions">
  <h1>Actions</h1>
  <ul class="characterSheetStats">
    <li *ngFor="let stat of stats"
      (click) = "onSelectStat(stat[0], stat[1])"
      [class.selected]="characterSheetItem === selectedCharacterSheetItem">
      <span>{{stat[0]}}: </span>
      <span>{{stat[1]}}</span>
    </li>
  </ul>
  
  <ul class="characterSheetSkills">
    <li *ngFor="let skill of skills" 
        (click) = "onSelectSkill(skill[0], skill[1])" 
        [class.selected]="characterSheetItem === selectedCharacterSheetItem">
      <span>{{skill[0]}}: </span>
      <span>{{skill[1]}}, </span>
      <!-- <span>{{characterSheet[i].skillProficiency | proficiencyString}}</span> -->
    </li>
  </ul>

  <app-character-detail 
    [selectedCharacterSheetItem]="selectedCharacterSheetItem" 
    [currentPerformance]="currentPerformance"
  ></app-character-detail>
</div>

<!-- <div class="testArea">
  <button type="button" (click)="updateCharacterSheetOnUI()">Test characterSheet response</button>
  <p id="displayResponse"></p>
</div> -->
